*{
    font-family: 'Roboto', sans-serif;
}
:root{
    --firsrtColor: #0d6efd;
    --secondColor: #dc3545;
    --thirdColor: #ffffff;
    --fourthColor: #fd7e14;
}
body{
    background: linear-gradient(to left, var(--firsrtColor), var(--secondColor));
    overflow-x: hidden;
}

/* Custom Class */
.main-heading{
    font-size: 3rem;
    color: var(--thirdColor);
    text-align:center;
}
.sub-heading{
    font-size: 1rem;
    color: var(--fourthColor);
    text-align: center;
}
.headingline{
    width: 100px;
    height: 2px;
    background-color: var(--fourthColor);
    margin: 30px auto;
}
/* Navigation */
nav{
    background: linear-gradient(to left, var(--firsrtColor), var(--secondColor));
}
/* header */
#header{
    min-height: 700px;
    width: 100%;
    position: relative;
}
#header video{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
    z-index: -2;
}

#header .overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
    background: linear-gradient(to left, var(--firsrtColor), var(--secondColor));
    mix-blend-mode: overlay;
    z-index: -1;
}

.service-card img{
    width: 100%;
    object-fit: cover;
    transition: 0.5s ;
}
.service-card img:hover{
    transform: scale(1.05);
}
/* membership */
.plan-2-card{
    position: relative;
    overflow: hidden;
}
.recommended{
    width: 200px;
    background-color: var(--thirdColor);
    color: black;
    font-size: 0.8rem;
    position: absolute;
    top:20px;
    right:-40px;
    transform: rotate(30deg);
}
/* testimonial section */
#testimonial img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: 100% 15%;
}
.carousel-control-prev{
    position: absolute;
    left: -4%;
}
.carousel-control-prev-icon{
    width: 30px;
    height: 30px;
    background-color: black;
}
.carousel-control-next{
    position: absolute;
    right: -4%;
}
.carousel-control-next-icon{
    width: 30px;
    height: 30px;
    background-color: black;
}
.carousel-indicators button[type="button"]{
    height: 15px;
}

/* News */

#news img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: 100% 20%;
    transition: 0.5s;
}

#news img:hover{
    transform: scale(1.03);
}

/* FAQ */

.accordion-button:not(.collapsed){
    background-color: var(--fourthColor);
    color: #ffffff;
}
/* contact */
#contact{
    background-image: url(images/Contact.jpg);
    background-repeat: no-repeat;
    background-position: center;
    mix-blend-mode: overlay;
    background-size: cover;
    width: 100%;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* footer */
#footer ul{
    list-style-type: none;
} 
#footer ul li{
    padding: 10px 0;
}
/* up arrow */
.up-arrow{
    display: block;
    width: 40px;
    height: 40px;
    background-color: var(--secondColor);
    text-align: center;
    border-radius: 4px;
    font-size: 2rem;
    color: #ffffff;
    position: fixed;
    bottom: 5px;
    right: 5px;
}
.sign-in{
    display: flex;
    padding: 10px ;

}